
// Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Break Points
$mobile: 375px;
$desktop: 1440px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    width: 100%;
    background: url('/images/pattern-background-desktop.svg');
    background-color: $pale-blue;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: $dark-blue;

    @media (max-width: $desktop) {
        background: url('/images/pattern-background-mobile.svg');
        background-color: $pale-blue;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
}

.btn{
    padding: 1em 0;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: .7em;
    text-decoration: none;

    &.btn-primary{
        background: $bright-blue;
        color: white;
        box-shadow: 0px 10px 24px 0px hsla(245, 75%, 52%, .3);

        &:hover{
            transition: 100ms;
            box-shadow: 0px 4px 24px 0px hsla(245, 75%, 52%, .3);
        }
    }

    &.btn-secondary{
        color: $desaturated-blue;
        margin-top: 1em;
        padding-bottom: 0;

        &:hover{
            opacity: .8;
        }
    }
}

.card__wrapper{
    width: 450px;
    margin: 2em auto;

    img{
        display: block;
        border-radius: 1em 1em 0 0;
    }

    &__info__container{
        background: white;
        text-align: center;
        padding: 2.8em;
        border-radius: 0 0 1em 1em;

        &>h2{
            font-weight: 900;
        }

        &>p{
            margin: 1.2em 0;

            color: $desaturated-blue;
        }

        .__plan{
            display: flex;
            align-items: center;
            padding: 1em 1.5em;

            background: $very-pale-blue;
            border-radius: .7em;
            position: relative;

            &__info{
                margin-left: 1.5em;
                text-align: start;
                width: 100%;

                &>p{
                    color: $desaturated-blue;
                }
            }

            &>a{
                color: $bright-blue;
                font-weight: 900;

                &:hover{
                    opacity: .8;;
                }
            }
        }

        .__button__container{
            display: flex;
            flex-direction: column;
            margin-top: 1.2em;
        }
    }
}